################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/vnetpeersyncpoc/FileContentIndex
/.vs/vnetpeersyncpoc/v17
/.vs
/src/VNetSyncPeer/bin/Debug/net8.0
/src/VNetSyncPeer/obj
/src/VNetPeerSyncConsoleApp/appsettings.local.json
